<% provide(:title, 'Login') %>
<div class="container clearfix">
  <form id="form" method="POST">
    <section class="login">
      <strong>Login on Starling.</strong>
      <hr>
      <fieldset>
        <input type="text"  name="session[username_or_email]" autocomplete="on" placeholder="Email or username">
        <input type="text"  name="session[password]" autocomplete="on" placeholder="Password">
      </fieldset>
      <button type="submit">Log in</button>
      <h2>New to Starling? <a href="signup.html">Sign up now »</a></h2>
    </section>
  </form>
</div>