<div id="wrapper">
  <div class="container clearfix">
    <div class="form">
      <section class="login">
        <strong>Resend confirmation instructions</strong>
        <hr>
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
              <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) , :placeholder => "Email"%>
              <%= f.button "Resend confirmation instructions" %>
        <% end %>
      </section>
    </div>
  </div>
</div>
