# Ignore application config bundler
/.bundle

# Ignore application database
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore application logs
/log/*.log
/tmp

# Ignore other application files
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret

# Ignore application configuration
/config/application.yml