<% provide(:title, 'Sign up') %>
<div id="wrapper">
<div class="container clearfix">
  <div class="form">
    <section class="login">
      <strong>Join Starling today.</strong>
      <hr>
      <%= render "devise/registrations/form" %>
    </section>
  </div>
</div>
</div>




