<% provide(:title, 'Edit comment') %>

<div class="container clearfix">
  <div class="content">
    <div class="wall-post">
      <div class="artcl">
        Edit comment
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>