- provide(:title, 'Followees')
.container.clearfix
  .content
    .wall-users
      .artcl
        Followees
      %hr
      - if @followees.count < 1
        .an-action
          %p This user don't have a followings.
      - @followees.each do |user|
        = render 'user', user: user
      -#.pagination
      -#  = will_paginate @users