- provide(:title, 'Followers')
.container.clearfix
  .content
    .wall-users
      .artcl
        Followers
      %hr
      - if @followers.count < 1
        .an-action
          %p This user don't have a followers.
      - @followers.each do |user|
        = render 'user', user: user
      -#.pagination
      -#  = will_paginate @users