<% provide(:title, 'Users') %>

<div class='container clearfix'>
  <div class='content'>

    <div class='wall-users'>
      <div class='artcl'>
        Users
      </div>
      <hr>
      <% @users.each do |user| %>
          <%= render 'user', user: user %>
      <% end %>
      <div class="pagination">
        <%= will_paginate @users %>
      </div>
    </div>
  </div>
</div>


