#wrapper
  .container.clearfix
    .form
      %section.login
        %strong Forgot your password?
        %hr/
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = devise_error_messages!
          = f.email_field :email, :placeholder => "Email"
          = f.button "Send me reset password instructions"
