<div id="wrapper">
  <div class="container clearfix">
    <div class="form">
      <section class="login">
        <strong>Forgot your password?</strong>
        <hr>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
              <%= f.email_field :email, :placeholder => "Email" %>
              <%= f.button "Send me reset password instructions" %>
        <% end %>
      </section>
    </div>
  </div>
</div>
