<% provide(:title, 'Login or Sign up') %>
<div id="wrapper">
<div class="container clearfix">
  <div class="text">
    <section>
      <h1>Welcome to Starling</h1>
      <p>Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.</p>
    </section>
  </div>
  <div class="forms">
      <div class="login">
        <%= render "home/sign_in_form" %>
      </div>
      <div class="signin">
        <h2><strong>New to Starling? </strong>Sign up</h2>
        <hr>
        <%= render "home/log_in_form" %>
      </div>
  </div>
  </div>
</div>