<% provide(:title, 'Login') %>
<div id="wrapper">
<div class="container clearfix">
  <div class="form">
    <section class="login">
      <strong>Login on Starling.</strong>
      <hr>
      <%= render "devise/sessions/form" %>
      <%= render "devise/shared/links" %>
    </section>
  </div>
</div>
</div>

