<% provide(:title, 'Edit post') %>

<div class="container clearfix">
  <div class="content">
    <div class="wall-post">
      <div class="artcl">
        Edit post
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>