<% provide(:title, 'New post') %>
<div class="container clearfix">
  <div class="content">
    <div class="wall-post">
      <div class="artcl">
        <h1>New post</h1>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>