<% provide(:title, 'Post '+@post.id.to_s) %>
<div class='container clearfix'>
  <div class='content'>
    <div class='wall-post'>
          <div class='starls-post'>
            <%= render 'post', post: @post, type: false, remote: false%>
          </div>
    </div>
    <div class='wall-post'>
      <%= render 'comments/comment_form', post: @post %>

      <% @comments.each do |comment| %>
          <%= render 'comments/comment', comment: comment %>
      <% end %>
      <div class="pagination">
        <%= will_paginate @comments %>
      </div>
    </div>
  </div>
</div>


