<footer>
  <div class="container">
    <nav class="bot-menu">
      <%= link_to "About", '#' %>
      <span> · </span>
      <%= link_to "Contact", '#' %>
      <span> · </span>
      <span>&copy; 2015 Starling</span>
    </nav>
  </div>
</footer>